$font-size-content: 14px;
$color-black: #000;
$color-white: #fff;

* {
    /* border: 1px solid #000; */
    box-sizing: border-box;
}

h1,
h2,
h3,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}



body {
    font-family: "微軟正黑體", sans-serif;
    /* min-height: 100vh; */
}

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

/* ======header start======= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    height: 81px;
    padding: 0 90px;

    &__left {
        display: flex;
    }

    &__logo {
        font-size: 28px;
        margin-right: 20px;

    }
    
}

.menu {
    display: flex;
    align-items: center;
    color: #787878;

    & > a + a {
        margin-left: 20px;

    }
}

/* ======header end======= */


/* ======main start====== */
.main__bg {
    position: absolute;
    background: linear-gradient(to bottom, #000000, #434343);
    height: 241px;
    width: 100%;
    z-index: -1;
}

.title {
    color: $color-white;
    padding-top: 76px;
    padding-bottom: 50px;
    
    & > * {
        text-align: center;

    }

    & h1 {
        font-size: 28px;
    
    }

    & h3 {
        font-size: $font-size-content;
        margin-top: 26px;
    
    }
}

.posts {
    margin: 0 auto;
    max-width: 920px;
    width: 100%;
    padding: 10px;
    background-color: $color-white;
    margin-bottom: 200px;
}

.post {
    border: 1px solid $color-black;
    padding: 30px;

    &--editable {
        border: none;
        border-bottom: 1px solid $color-black;
        & .time {
            margin-left: 2ch;
        }
    }

    & + .post {
        margin-top: 24px;
    }

    &__content {
        position: relative;
        white-space: pre-line;
        word-break: break-word;
        width: 100%;
        overflow: hidden;
        margin-top: 19px;
        margin-bottom: 36px;
        line-height: 1.43;
    }

    &__title {
        text-shadow: 1.4px 1.4px 2px #efefef;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: right;
        position: relative;
    }

    &__btn {
        border: 1px solid #a8a8a8;
        color: #a8a8a8;
        padding: 6px 12px;
        font-size: $font-size-content;
        margin: 0 3px;
    }

    // .post__info
    &__info {
        line-height: 40px;
        font-size: $font-size-content;
        color: #8f8f8f;
        background-color: #eeeeee;
        padding: 0 22px;
        margin-top: 20px;

        & > *::before {
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            margin-right: 11px;
        }

        & > .category {
            margin-left: 13px;
        }

        & > .time::before {
            content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJwcmVmaXhfX+WcluWxpF8xIiB4PSIwIiB5PSIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPgogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMEgyNFYyNEgweiIvPgogICAgPHBhdGggZmlsbD0iIzhGOEY4RiIgZD0iTTEyIDJDNi41IDIgMiA2LjUgMiAxMnM0LjUgMTAgMTAgMTAgMTAtNC41IDEwLTEwUzE3LjUgMiAxMiAyem0wIDE4Yy00LjQgMC04LTMuNi04LThzMy42LTggOC04IDggMy42IDggOC0zLjYgOC04IDh6bS41LTEzSDExdjZsNS4yIDMuMi44LTEuMy00LjUtMi43Vjd6Ii8+Cjwvc3ZnPgo=');
        
        }

        & > .category::before {
            content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJwcmVmaXhfX+WcluWxpF8xIiB4PSIwIiB5PSIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPgogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ii8+CiAgICA8cGF0aCBmaWxsPSIjOEY4RjhGIiBkPSJNOS4yIDZsMiAySDIwdjEwSDRWNmg1LjJtLjgtMkg0Yy0xLjEgMC0yIC45LTIgMnYxMmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjhjMC0xLjEtLjktMi0yLTJoLThsLTItMnoiLz4KPC9zdmc+Cg==');
        
        }

        &__readmore {
            padding: 12px 15px;
            width: fit-content;
            font-size: $font-size-content;
            border: 1px solid $color-black;
        }
    }
}

/* ======main end====== */


/* ======edit start ====== */

.edit__form {
    & > * {
        margin-top: 20px;
    }
    & > [name="title"] {
        width: 30ch;
    
    }
    & > [name="content"] {
        height: 10rem;
    }
}
.ck-content {
    min-height: 200px;
}
/* ======edit end ====== */

/* ======login start====== */
.login {
    height: 500px;
    width: 700px;
    border: solid 1px $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    padding: 8em;

    &__wrapper {
        display: flex;
    justify-content: center;
    align-items: center;
    }
    
}
.input__wrapper {
    padding: 10px;
}


/* ======login end====== */



/* ======footer start====== */
.footer {
    line-height: 35px;
    font-size: $font-size-content;
    width: 100%;
    text-align: center;
    background-color: $color-black;
    color: $color-white;
}
/* ======footer end====== */