body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    /* position: fixed; */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: .5s;

}

.header:hover {
    background-color: #ffffffaa;
}

.header>div {
    margin: 0 auto;
    width: 85vw;
    max-width: 1440px;
    /* height: 80px; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    
}

.title {
    font-size: 2rem;
    flex-shrink: 0;
    margin-right: 30px;
    padding-bottom: 20px;

}


.nav {
    list-style-type: none;
    display: flex;
    align-items: stretch;
    align-self: stretch;
    transition: .5s;
}



.nav__item+li {
    margin-left: 4ch;
}

.nav__item a {
    color: inherit;
    text-decoration: none;
}

.nav__item {
    color: #323232;
    display: flex;
    align-items: flex-end;
    padding: 0 10px;
    padding-bottom: 20px;
    transition: .3s;
}

.nav__item:hover {
    background-color: #00000033;
}

.menu {
    padding: 10px;
    margin-right: 22px;
    display: none;
    margin-bottom: 10px;
}

.menu > div {
    width: 30px;
    background-color: #00000033;
    height: 4px;
}

.menu > div + div {
    margin-top: 4px;
}

@media (max-width: 764px) {
    .nav.closed {
        height: 0;
    }

    .menu {
        display: block;
    }

    .header>div {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .nav {
        display: block;
        flex-direction: column;
        overflow: hidden;
        height: 220px;    
    }
    .nav__item {
        display: block;
        margin-right: 28px;
        padding: 10px 10px 10px 0;
        text-align: right;
    }

    .nav__item+li {
        margin-left: 0;
    }
}

main {
    background-image: url(https://images.unsplash.com/photo-1527334919515-b8dee906a34b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    width: 75%;
    max-width: 1290px;
    margin: 0 auto;
    /* margin-top: 100px; */
    text-align: center;
    color: white;
}

.streams__title {
    padding: 0.4em 0;
    text-shadow: 1px 1px 5px #000;
}

.streams__subtitle {
    padding: 0.3em 0;
    text-shadow: 1px 1px 5px #000;
}

.streams__gallery {
    display: flex;
    flex-wrap: wrap;

}

.stream {
    /* width: 1px; */
    flex-shrink: 1;
    flex-basis: 320px;
    flex-grow: 1;
    background-color: #ffffff33;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 10px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}



.stream:hover .stream__preview img {
    transform: scale(1.05);
}

.stream__preview {
    /* height: 15vw; */
    /* max-height: 250px; */
    overflow: hidden;
}

.stream__preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;

}

.stream__info {
    padding: 5px;
    display: flex;
    align-content: stretch;
}

.stream__avatar {
    height: calc(50px + 0.5vw);
    width: calc(50px + 0.5vw);
    max-width: 80px;
    max-height: 80px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
}

.stream__avatar img {
    width: 100%;
    height: 100;
}

.stream__text {
    width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    font-size: calc(8pt + 0.5vw);
    text-shadow: 1px 1px 2px #00000099;
}

.stream__ch-name,
.stream__id {
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.stream__ch-name {
    font-size: 1.1em;
}

.stream__id {
    font-size: 0.8em;
}

.page__btn {
    margin: 20px auto;
    border: 1px solid #000;
    padding: 10px 20px;

    border-radius: 5px;
    display: inline-block;
    width: fit-content;
    border: 1px solid #fff;
}

.page__btn.disabled {
    visibility: hidden;
}

.page__btn:hover {
    cursor: pointer;
}

#page {
    display: inline-block;
    margin: 0 20px;
}